//ColorBank
$base-Tcolor: rgb(8, 8, 8);
$secondary-Tcolor: rgb(97, 97, 97);
$highlight-Tcolor: rgb(35, 50, 255);

$base-Bgcolor: rgb(245, 245, 245);
$secondary-Bgcolor: rgb(230, 230, 230);
$highlight-Bgcolor: rgb(35, 50, 255);
$black-bgColor: rgb(4,4,4);

$alert-Color: rgb(233, 42, 36);
$green-Color: rgb(36, 233, 102);


//FontSite Bank
$Primary-Dheading: 36px;
$Primary-Mheading: 28px;
$Secondary-Dheading: 32px;
$Secondary-Mheading: 24px;
$Ternary-Dheading: 2rem;
$Ternary-Mheading: 16px;

$Description-D: 16px;
$Description-M: 12px;

$SubHeading-D: 12px;
$SubHeading-M: 8px;



